.element-edit-form {
    .parent-element-option {
        & {
            display: flex;
            align-items: center;
        }
        .material-symbols-outlined {
            margin-right: 0.5rem;
        }
    }
    .preview-icon-label {
        & {
            position: relative;
        }
        &::after {
            content: "\0a0";
            display: block;
            height: 1px;
            width: 0px;
            overflow: hidden;
            pointer-events: none;
            position: absolute;
            left: 0px;
            top: 55%;
            border-bottom: 1px solid;
            border-top: 1px solid var(--bs-table-bg);
            opacity: 0.9;
            transition: width 0.2s ease-in;
        }
        &.no-icon-name::after {
            width: 100%;
        }
    }
}