.table-with-elements {
    table {
        width: 100%;
    }
    td, th {
        padding: 10px 5px;
    }
    td:first-child, th:first-child {
        padding-left: 10px;
    }
    td:last-child, th:last-child {
        padding-right: 10px;
    }
    tbody td, tbody th {
        vertical-align: top;
    }
    .thead-mdIcon {
        &, &:first-child {
            text-align: center;
            vertical-align: middle;
            padding: 0;
        }
        .material-symbols-outlined {
            position: relative;
            top: 2px;
        }
    }
    .column-mdIcon {
        & {
            padding-top: 1px;
            padding-bottom: 1px;
            text-align: center;
        }
        .material-symbols-outlined {
            font-size: 32px;
            position: relative;
            top: 4px;
        }
    }
    .column-discovered {
        .material-symbols-outlined {
            font-size: 1em;
            margin-right: 0.3em;
            vertical-align: -3px;
            opacity: 0.5;
        }
        .is-discovered .material-symbols-outlined {
            margin-right: 0.15em;
        }
        .discoverable {
            & {
                cursor: default;
            }
            i {
                border-bottom: 1px dotted;
            }
            &:hover {
                .material-symbols-outlined {
                    opacity: 0.6;
                }
                i {
                    border-bottom-style: solid;
                }
            }
        }
    }
    .column-parentIds {
        .material-symbols-outlined {
            font-size: 1.2em;
            margin-right: 0.3em;
            vertical-align: -4px;
        }
        .parent-is-discovered, .parent-isnt-discovered {
            font-size: 1em;
            opacity: 0.5;
            vertical-align: -2px;
        }
    }
    .thead-Actions {
        padding-left: 15px;
    }
    .column-Actions {
        & {
            padding-top: 0px;
            padding-bottom: 0px;
            user-select: none;
        }
        .material-symbols-outlined {
            position: relative;
            top: 0;
            border: 9px solid transparent;
            border-bottom-width: 11px;
        }
        .material-symbols-outlined:hover {
            top: -2px;
            cursor: default;
        }
    }
    .actions-container {
        &, .actions-block {
            position: relative;
            width: 86px;
            height: 42px;
            overflow: hidden;
        }
        .actions-default {
            transform: translateY(0px);
        }
        .actions-default, .material-symbols-outlined {
            transition: transform 0.3s ease-in;
        }
        .actions-deleting-confirmation, .actions-editing-confirmation {
            & {
                position: absolute;
                left: 0px;
                top: 0px;
                pointer-events: none;
            }
            :last-child {
                transform: translateX(50px);
            }
            :first-child {
                transform: translateX(-50px);
            }
        }
        &.deleting .actions-deleting-confirmation,
        &.editing .actions-editing-confirmation {
            & {
                pointer-events: revert;
            }
            :first-child {
                transform: translateX(0px);
            }
            :last-child {
                transform: translateX(0px);
            }
        }
        &.deleting .actions-default, &.editing .actions-default {
            transform: translateY(50px);
        }
        .do-save.not-can-save {
            opacity: 0.5;
        }
        .do-delete {
            text-shadow: 1px 0px 0px red;
        }
    }
    .editing-tr {
        padding: 0;
    }
    .editing-td {
        &, &:first-child, &:last-child {
            padding: 0;
        }
    }
    .tr-even:not(.tr-in-deleting) {
        --bs-table-bg: #f0f0f0;
    }
    .tr-in-deleting td {
        background: var(--bs-table-bg);
    }
    .tr-in-deleting {
        .column-mdIcon, .column-id, .column-title {
            text-shadow: 1px 0px 0px #ffffff6b;
        }
        .column-mdIcon {
            background: linear-gradient(70deg, var(--bs-table-bg) 20px, #ff797999 80%);
        }
        .column-id {
            /* background: #ff797999; */
            background: linear-gradient(-70deg, var(--bs-table-bg) 30%, #ff797999 80%);
        }
        .column-title {
        }
    }
    .tr-in-editing {
        /* filter: invert(100%); */
        background: #e9eee1;
    }
    .editing-container {
        /* max-height: fit-content; */ /* will broke the transition */
        max-height: 777px;
        overflow: hidden;
        transition: max-height 0.9s ease-in, box-shadow 0.4s ease-in;
        /* box-shadow: inset 0px 10px 8px -10px black, inset 0px -20px 16px -18px black; */
        box-shadow: inset 0px 10px 8px -10px #00000096, inset 0px -20px 16px -18px #00000091;
    }
    .editing-tr-fadeout .editing-container {
        transition: max-height 0.9s ease-in-out, box-shadow 0.9s ease-in;
    }
    .editing-tr-fadeout .editing-container, .editing-container.not-mounted {
        max-height: 0px;
        box-shadow: none;
    }
    .element-id, .parent-only-id, .parent-title {
        display: inline-block;
        max-width: 100px;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
        vertical-align: bottom;
    }
}