.console {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 800px;
    background: white;
    z-index: var(--z-index-console);
    overflow: auto;
    overscroll-behavior: contain;
}