.ecard {
    user-select: none;
    cursor: alias; /* maybe, macos fallback */
    cursor: cell;
    top: 0px;
    transition: top var(--ecard-transition-duration-back) linear;
}
.ecard.ecard_draw-hello-animation {
    animation: ecard_draw-hello-animation 2s ease 0s 1 forwards;
}
.ecard:hover {
    top: -10px;
    transition: top var(--ecard-transition-duration-up-top) linear;
}
.ecard, .ecard.ecard-size {
    /* NOTE: .card used in bootstrap, "e" means "element" */
    position: relative;
    font-size: var(--ecard-font-size);
    line-height: 1.2;
    font-family: "Noto Serif", "Segoe UI", sans-serif;
    transform-origin: left top;
}
.ecard-size {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
}
.ecard-content {
    color: var(--ecard-title-color);
}
.ecard-content-clicpped {
    color: var(--ecard-clipped-title-color);
}
.ecard-content-clicpped .ecard-title {
    text-shadow: var(--ecard-clipped-title-text-shadow);
}
.ecard-content-clicpped .ecard-icon {
    text-shadow: var(--ecard-clipped-icon-text-shadow);
}
.ecard-content-unclicpped {
    color: var(--ecard-unclipped-title-color);
    opacity: var(--ecard-unclipped-opacity);
}
.ecard-icon {
    color: var(--ecard-icon-color);
}
.ecard-content-clicpped .ecard-icon {
    color: var(--ecard-clipped-icon-color);
}
.ecard-content-unclicpped .ecard-icon {
    color: var(--ecard-unclipped-icon-color);
}
.ecard-bg {
    /* backdrop-filter: blur(5px); */
    background: var(--ecard-background);
}
.ecard-bg::after {
    content: "\0a0";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: inherit;
    height: inherit;
    background: var(--ecard-background-gradient);
}
/*
card-shape-basic-clip
card-shape-basic-border
card-shape-ruined-clip
card-shape-ruined-border
card-shape-pentagon-clip
card-shape-pentagon-border
card-shape-comix-clip
card-shape-comix-border
*/
.ecard-clip-fill {
    clip-path: url(#card-shape-comix-clip);
}
.ecard-clip-stroke {
    background: var(--ecard-stroke);
    clip-path: url(#card-shape-comix-border);
}
.ecard-content {
    position: relative;
    width: inherit;
    height: inherit;
}
.ecard-icon {
    margin-bottom: 0.5rem;
}
.ecard-icon, .ecard-icon .material-symbols-outlined {
    display: block;
    font-size: var(--ecard-icon-size);
    line-height: var(--ecard-icon-size);
}
.ecard-icon .material-symbols-outlined {
    width: var(--ecard-icon-size);
    margin: auto;
}
.ecard-title {
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

@keyframes ecard_draw-hello-animation {
    0% {
        transform-origin: right bottom;
        transform: scale(0) rotate(90deg);
    }
    50% {
        transform-origin: left top;
    }
    99% {
        transform: scale(1);
    }
    100% {
        transform-origin: left top;
        transform: unset;
    }
}