.page-game {
    .cauldron {
        position: sticky;
        top: -10px;
        z-index: var(--z-index-the-cauldron);
    }
    .ecard {
        & {
            margin: 10px;
        }
        &.ecard_0_7 .ecard-rotate {
            transform: rotate(0deg);
        }
        &.ecard_1_7 .ecard-rotate {
            transform: rotate(1deg);
        }
        &.ecard_2_7 .ecard-rotate {
            transform: rotate(2deg);
        }
        &.ecard_3_7 .ecard-rotate {
            transform: rotate(3deg);
        }
        &.ecard_4_7 .ecard-rotate {
            transform: rotate(4deg);
        }
        &.ecard_5_7 .ecard-rotate {
            transform: rotate(5deg);
        }
        &.ecard_6_7 .ecard-rotate {
            transform: rotate(6deg);
        }
        &.ecard_0_7 .ecard-move {
            transform: translate(-2px 0px)
        }
        &.ecard_1_7 .ecard-move {
            transform: translate(5px -5px)
        }
        &.ecard_2_7 .ecard-move {
            transform: translate(-3px -2px)
        }
        &.ecard_3_7 .ecard-move {
            transform: translate(2px 0px)
        }
        &.ecard_4_7 .ecard-move {
            transform: translate(3px 1px)
        }
        &.ecard_5_7 .ecard-move {
            transform: translate(5px -3px)
        }
        &.ecard_6_7 .ecard-move {
            transform: translate(4px 3px)
        }
        & .ecard-rotate, & .ecard-move {
            transition: transform var(--ecard-transition-duration-back) ease-in-out;
        }
        &:hover .ecard-rotate, &:hover .ecard-move {
            transition: transform var(--ecard-transition-duration-up-transform) ease-out;
        }
        &:hover .ecard-rotate {
            transform: rotate(0deg);
        }
        &:hover .ecard-move {
            transform: translate(0px 0px);
        }
    }
    .btn-playstate {
        & {
            font-size: 24px;
        }
        .material-symbols-outlined {
            vertical-align: bottom;
            font-size: 40px;
            padding-right: 1rem;
        }
        /* transform: skewX(-15deg); */
    }
    .btn-playstate:not(:has(.material-symbols-outlined)) {
        padding-top: 8px;
        padding-bottom: 4px;
    }
    .btn-mystical {
        --bs-btn-color: #ffffff;
        --bs-btn-bg: #dd0df0;
        --bs-btn-border-color: #f00dbf;
        /* --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #31d2f2;
        --bs-btn-hover-border-color: #25cff2;
        --bs-btn-focus-shadow-rgb: 11, 172, 204;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #3dd5f3;
        --bs-btn-active-border-color: #25cff2;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000;
        --bs-btn-disabled-bg: #0dcaf0;
        --bs-btn-disabled-border-color: #0dcaf0; */
    }
}
@media screen and (min-width: 1400px) {
    .page-game {
        .cauldron {
            margin-bottom: -300px;
        }
    }
}