/* Array.from({length:100+1}).map((_v,i)=>`.bg-iconed-x_${i} { left: ${i}%; }`).join('\n') */

.bg-iconed-x_0 { left: 0%; }
.bg-iconed-x_1 { left: 1%; }
.bg-iconed-x_2 { left: 2%; }
.bg-iconed-x_3 { left: 3%; }
.bg-iconed-x_4 { left: 4%; }
.bg-iconed-x_5 { left: 5%; }
.bg-iconed-x_6 { left: 6%; }
.bg-iconed-x_7 { left: 7%; }
.bg-iconed-x_8 { left: 8%; }
.bg-iconed-x_9 { left: 9%; }
.bg-iconed-x_10 { left: 10%; }
.bg-iconed-x_11 { left: 11%; }
.bg-iconed-x_12 { left: 12%; }
.bg-iconed-x_13 { left: 13%; }
.bg-iconed-x_14 { left: 14%; }
.bg-iconed-x_15 { left: 15%; }
.bg-iconed-x_16 { left: 16%; }
.bg-iconed-x_17 { left: 17%; }
.bg-iconed-x_18 { left: 18%; }
.bg-iconed-x_19 { left: 19%; }
.bg-iconed-x_20 { left: 20%; }
.bg-iconed-x_21 { left: 21%; }
.bg-iconed-x_22 { left: 22%; }
.bg-iconed-x_23 { left: 23%; }
.bg-iconed-x_24 { left: 24%; }
.bg-iconed-x_25 { left: 25%; }
.bg-iconed-x_26 { left: 26%; }
.bg-iconed-x_27 { left: 27%; }
.bg-iconed-x_28 { left: 28%; }
.bg-iconed-x_29 { left: 29%; }
.bg-iconed-x_30 { left: 30%; }
.bg-iconed-x_31 { left: 31%; }
.bg-iconed-x_32 { left: 32%; }
.bg-iconed-x_33 { left: 33%; }
.bg-iconed-x_34 { left: 34%; }
.bg-iconed-x_35 { left: 35%; }
.bg-iconed-x_36 { left: 36%; }
.bg-iconed-x_37 { left: 37%; }
.bg-iconed-x_38 { left: 38%; }
.bg-iconed-x_39 { left: 39%; }
.bg-iconed-x_40 { left: 40%; }
.bg-iconed-x_41 { left: 41%; }
.bg-iconed-x_42 { left: 42%; }
.bg-iconed-x_43 { left: 43%; }
.bg-iconed-x_44 { left: 44%; }
.bg-iconed-x_45 { left: 45%; }
.bg-iconed-x_46 { left: 46%; }
.bg-iconed-x_47 { left: 47%; }
.bg-iconed-x_48 { left: 48%; }
.bg-iconed-x_49 { left: 49%; }
.bg-iconed-x_50 { left: 50%; }
.bg-iconed-x_51 { left: 51%; }
.bg-iconed-x_52 { left: 52%; }
.bg-iconed-x_53 { left: 53%; }
.bg-iconed-x_54 { left: 54%; }
.bg-iconed-x_55 { left: 55%; }
.bg-iconed-x_56 { left: 56%; }
.bg-iconed-x_57 { left: 57%; }
.bg-iconed-x_58 { left: 58%; }
.bg-iconed-x_59 { left: 59%; }
.bg-iconed-x_60 { left: 60%; }
.bg-iconed-x_61 { left: 61%; }
.bg-iconed-x_62 { left: 62%; }
.bg-iconed-x_63 { left: 63%; }
.bg-iconed-x_64 { left: 64%; }
.bg-iconed-x_65 { left: 65%; }
.bg-iconed-x_66 { left: 66%; }
.bg-iconed-x_67 { left: 67%; }
.bg-iconed-x_68 { left: 68%; }
.bg-iconed-x_69 { left: 69%; }
.bg-iconed-x_70 { left: 70%; }
.bg-iconed-x_71 { left: 71%; }
.bg-iconed-x_72 { left: 72%; }
.bg-iconed-x_73 { left: 73%; }
.bg-iconed-x_74 { left: 74%; }
.bg-iconed-x_75 { left: 75%; }
.bg-iconed-x_76 { left: 76%; }
.bg-iconed-x_77 { left: 77%; }
.bg-iconed-x_78 { left: 78%; }
.bg-iconed-x_79 { left: 79%; }
.bg-iconed-x_80 { left: 80%; }
.bg-iconed-x_81 { left: 81%; }
.bg-iconed-x_82 { left: 82%; }
.bg-iconed-x_83 { left: 83%; }
.bg-iconed-x_84 { left: 84%; }
.bg-iconed-x_85 { left: 85%; }
.bg-iconed-x_86 { left: 86%; }
.bg-iconed-x_87 { left: 87%; }
.bg-iconed-x_88 { left: 88%; }
.bg-iconed-x_89 { left: 89%; }
.bg-iconed-x_90 { left: 90%; }
.bg-iconed-x_91 { left: 91%; }
.bg-iconed-x_92 { left: 92%; }
.bg-iconed-x_93 { left: 93%; }
.bg-iconed-x_94 { left: 94%; }
.bg-iconed-x_95 { left: 95%; }
.bg-iconed-x_96 { left: 96%; }
.bg-iconed-x_97 { left: 97%; }
.bg-iconed-x_98 { left: 98%; }
.bg-iconed-x_99 { left: 99%; }
.bg-iconed-x_100 { left: 100%; }