/* Array.from({length:100+1}).map((_v,i)=>`.bg-iconed-y_${i} { top: ${i}%; }`).join('\n') */

.bg-iconed-y_0 { top: 0%; }
.bg-iconed-y_1 { top: 1%; }
.bg-iconed-y_2 { top: 2%; }
.bg-iconed-y_3 { top: 3%; }
.bg-iconed-y_4 { top: 4%; }
.bg-iconed-y_5 { top: 5%; }
.bg-iconed-y_6 { top: 6%; }
.bg-iconed-y_7 { top: 7%; }
.bg-iconed-y_8 { top: 8%; }
.bg-iconed-y_9 { top: 9%; }
.bg-iconed-y_10 { top: 10%; }
.bg-iconed-y_11 { top: 11%; }
.bg-iconed-y_12 { top: 12%; }
.bg-iconed-y_13 { top: 13%; }
.bg-iconed-y_14 { top: 14%; }
.bg-iconed-y_15 { top: 15%; }
.bg-iconed-y_16 { top: 16%; }
.bg-iconed-y_17 { top: 17%; }
.bg-iconed-y_18 { top: 18%; }
.bg-iconed-y_19 { top: 19%; }
.bg-iconed-y_20 { top: 20%; }
.bg-iconed-y_21 { top: 21%; }
.bg-iconed-y_22 { top: 22%; }
.bg-iconed-y_23 { top: 23%; }
.bg-iconed-y_24 { top: 24%; }
.bg-iconed-y_25 { top: 25%; }
.bg-iconed-y_26 { top: 26%; }
.bg-iconed-y_27 { top: 27%; }
.bg-iconed-y_28 { top: 28%; }
.bg-iconed-y_29 { top: 29%; }
.bg-iconed-y_30 { top: 30%; }
.bg-iconed-y_31 { top: 31%; }
.bg-iconed-y_32 { top: 32%; }
.bg-iconed-y_33 { top: 33%; }
.bg-iconed-y_34 { top: 34%; }
.bg-iconed-y_35 { top: 35%; }
.bg-iconed-y_36 { top: 36%; }
.bg-iconed-y_37 { top: 37%; }
.bg-iconed-y_38 { top: 38%; }
.bg-iconed-y_39 { top: 39%; }
.bg-iconed-y_40 { top: 40%; }
.bg-iconed-y_41 { top: 41%; }
.bg-iconed-y_42 { top: 42%; }
.bg-iconed-y_43 { top: 43%; }
.bg-iconed-y_44 { top: 44%; }
.bg-iconed-y_45 { top: 45%; }
.bg-iconed-y_46 { top: 46%; }
.bg-iconed-y_47 { top: 47%; }
.bg-iconed-y_48 { top: 48%; }
.bg-iconed-y_49 { top: 49%; }
.bg-iconed-y_50 { top: 50%; }
.bg-iconed-y_51 { top: 51%; }
.bg-iconed-y_52 { top: 52%; }
.bg-iconed-y_53 { top: 53%; }
.bg-iconed-y_54 { top: 54%; }
.bg-iconed-y_55 { top: 55%; }
.bg-iconed-y_56 { top: 56%; }
.bg-iconed-y_57 { top: 57%; }
.bg-iconed-y_58 { top: 58%; }
.bg-iconed-y_59 { top: 59%; }
.bg-iconed-y_60 { top: 60%; }
.bg-iconed-y_61 { top: 61%; }
.bg-iconed-y_62 { top: 62%; }
.bg-iconed-y_63 { top: 63%; }
.bg-iconed-y_64 { top: 64%; }
.bg-iconed-y_65 { top: 65%; }
.bg-iconed-y_66 { top: 66%; }
.bg-iconed-y_67 { top: 67%; }
.bg-iconed-y_68 { top: 68%; }
.bg-iconed-y_69 { top: 69%; }
.bg-iconed-y_70 { top: 70%; }
.bg-iconed-y_71 { top: 71%; }
.bg-iconed-y_72 { top: 72%; }
.bg-iconed-y_73 { top: 73%; }
.bg-iconed-y_74 { top: 74%; }
.bg-iconed-y_75 { top: 75%; }
.bg-iconed-y_76 { top: 76%; }
.bg-iconed-y_77 { top: 77%; }
.bg-iconed-y_78 { top: 78%; }
.bg-iconed-y_79 { top: 79%; }
.bg-iconed-y_80 { top: 80%; }
.bg-iconed-y_81 { top: 81%; }
.bg-iconed-y_82 { top: 82%; }
.bg-iconed-y_83 { top: 83%; }
.bg-iconed-y_84 { top: 84%; }
.bg-iconed-y_85 { top: 85%; }
.bg-iconed-y_86 { top: 86%; }
.bg-iconed-y_87 { top: 87%; }
.bg-iconed-y_88 { top: 88%; }
.bg-iconed-y_89 { top: 89%; }
.bg-iconed-y_90 { top: 90%; }
.bg-iconed-y_91 { top: 91%; }
.bg-iconed-y_92 { top: 92%; }
.bg-iconed-y_93 { top: 93%; }
.bg-iconed-y_94 { top: 94%; }
.bg-iconed-y_95 { top: 95%; }
.bg-iconed-y_96 { top: 96%; }
.bg-iconed-y_97 { top: 97%; }
.bg-iconed-y_98 { top: 98%; }
.bg-iconed-y_99 { top: 99%; }
.bg-iconed-y_100 { top: 100%; }