.cauldron {
  &, .cauldron-bg, .cauldron-rotate, .cauldron-border {
    position: relative;
    width: 740px;
    height: 200px;
    /* background: white; */
  }
  & {
    left: 20px;
  }
  .cauldron-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
  }
  .cauldron-border {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-width: 1px 7px 5px 3px;
    box-shadow: 
        -8px -6px 12px -17px aqua,
        0px 0px 20px 3px rgba(255, 255, 255, 1), 
        10px 10px 30px 20px rgba(255, 255, 255, 1), 
        inset -8px -5px 24px -14px aqua
    ;
  }
  .cauldron-rotate {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: skewY(-5deg);
  }
  .cauldron-waves {
    position: absolute;
    width: 100px;
    height: 30px;
    transform: skewY(-5deg);
  }
  .cauldron-wave-arc {
    width: 25%;
    height: 100%;
    border: 0px solid rgba(255, 255, 255, 0.7);
    border-width: 0px 0px 5px 0px;
    border-radius: 50%;
    animation: cauldron-wave 3.3s ease 0s infinite;
    box-shadow: 2px 2px 0px rgba(0, 255, 255, 0.075);
  }
  .cauldron-wave-a {
    position: absolute;
    left: 0%;
    top: 0%;
    animation-duration: 4.2s;
  }
  .cauldron-wave-b {
    position: absolute;
    left: 20%;
    top: 0%;
    animation-delay: 1.7s;
  }
  .cauldron-wave-c {
    position: absolute;
    left: 40%;
    top: 0%;
    animation-duration: 4.4s;
    animation-delay: 0.75s;
  }
  .cauldron-wave-d {
    position: absolute;
    left: 60%;
    top: 0%;
    animation-duration: 3.1s;
    animation-timing-function: ease-in;
  }
  .cauldron-wave-e {
    position: absolute;
    left: 80%;
    top: 0%;
    animation-timing-function: ease-out;
  }
  .cauldron-icon {
    & {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    &.cauldron-icon-0 {
        left: 50px;
        top: 20px;
    }
    &.cauldron-icon-1 {
        left: 250px;
        top: 70px;
    }
    &.cauldron-icon-2 {
        left: 400px;
        top: -40px;
    }
    .cauldron-icon-container {
        position: relative;
        animation: cauldron-icon-container 10s ease-in-out infinite;
        width: 120px;
        height: 120px;
    }
    &.cauldron-icon-0 .cauldron-icon-container {
        animation-duration: 11s;
    }
    &.cauldron-icon-1 .cauldron-icon-container {
        animation-duration: 9.3s;
        animation-delay: -7.5s;
    }
    &.cauldron-icon-2 .cauldron-icon-container {
        animation-duration: 13.3s;
        animation-delay: -1.23s;
    }
    .material-symbols-outlined {
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 120px;
        overflow: hidden;
        color: rgb(94 55 0);
    }
    .cauldron-icon-under-the-sea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 60%;
        overflow: hidden;
        opacity: 0.7;
    }
    .cauldron-icon-over-the-sea {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40%;
        overflow: hidden;
        opacity: 0.3;
    }
    .cauldron-icon-over-the-sea .material-symbols-outlined {
        top: unset;
        bottom: 0px;
        text-shadow: 2px 2px 5px aqua;
    }
  }
}

@keyframes cauldron-icon-container {
    0% {
        transform: rotate(3deg) translateY(0px) rotate(3deg);
    }
    30% {
        transform: rotate(5deg) translateY(-20px) rotate(0deg);
    }
    60% {
        transform: rotate(4deg) translateY(5px) rotate(-10deg);
    }
    80% {
        transform: rotate(2deg) translateY(10px) rotate(-5deg);
    }
    100% {
        transform: rotate(3deg) translateY(0px) rotate(3deg);
    }
}
@keyframes cauldron-wave {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, 5px);
    }
    90% {
        transform: translate(0px, -3px);
    }
    0% {
        transform: translate(0px, 0px);
    }
}